body{
		    height: 1000px;
		    background: #ecebeb;
		    background-image: url(bb.png);
		    background-size: contain;
}

.navbar{
    background-color: #ffffff!important;
}
.nav-item{
    background-color: #fff;
    font-weight: 500;
    margin: 0 5px;
    border-radius: 25px;
}
.lgbtn{
    border: 1px solid #333 !important;
    padding: 4px 10px !important;
    border-radius: 2px !important;
    text-shadow: 0px 0px 5px #333;
}
.nav-link:hover{
    box-shadow: 0px 0px 5px grey;
    transition: all 2s;

}
.navbar-brand{
	font-size: 30px !important;
	font-weight: 700 !important;
}
.navbar-brand span{
	font-size: 16px;
    position: absolute;
    bottom: -10px;
    left: 1px;
    font-weight: 400;
}
.display-4 {
    font-size: 35px !important;
    font-weight: 300;
    line-height: 1.2;
}

.box{
	min-height: 500px;
    background: #0808083b;
    margin-top: 15px;
    text-align: center;
    padding: 0 6% 10px 6%;
    /* background-image: linear-gradient(to top right, #2f29297d, #716d6e94), url(pgdav.jpg); */
    background-size: cover;
}
.clg p{
	font-size: 25px !important;
    font-weight: 600;
    padding-right: 10px;
    color: inherit;
    /*border-bottom: 2px solid #91eebb;*/
}
.clg h2{
    font-weight: 600;
    font-size: 59px;
}
.pad-text{
	padding:15px 10px 0px 10px;
}
span{
	font-size: 20px;
}
.prog-name{
	font-weight: 400 !important;
    background: #91eebbc2;
    border-radius: 23px;
    padding: 5px 10px;
    text-shadow: none;
    color: #1b1d52;
}
.info p{
	    margin-bottom: 5px;
    font-size: 20px;
    background: #1b1d52c2;
    padding: 2px 10px;
    color: #ffffff;
    width: fit-content;
    display: inline-flex;
    border-radius: 25px;
}
.custom-btn{
	background: #1b1d52;
    border: 0;
    padding: 10px 10px;
    width: 210px;
    font-size: 25px;
    font-weight: 500;
    border-radius: 2px;
    box-shadow: 0px 0px 5px grey;
}
.custom-btn a{
	color: white;
}
.custom-btn a:hover{
	text-decoration: none;
	color: white;
}
.green{
	background-color: #91eebb;
}
.custom-btn a img{
	height: 45px;
    width: 45px;
    padding: 5px;
    background-color: #d44f4f;
    border-radius: 100%;
    margin-right: 5px;
}
.content p{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}
.content{
    background-color: #ffffffe8;
    box-shadow: 0px 0px 10px grey;
    padding: 2%;
    margin: 30px 0;
    border-radius: 5px;
}
.content h2{
    background: #3f4a44;
    color: white;
    font-size: 37px;
    border-radius: 2px;
    padding: 10px;
    font-weight: 400;
    text-shadow: 0px 0px 10px #333;
}
.img-p img{
    border-radius: 100%;
    border:5px solid #8d6c9f;
    padding: 10px;
}
.key-info img{
    display: inline-grid;
    width: 30px;
    margin-top: -7px;
}
.key-info h4{
    width: fit-content;
    display: inline-grid;
}
#paytm .col-md-6{
    text-align:left;
    max-width: 50%;
}
#contacts p,#inf p{
    font-family: all;
}